{
    "env": {
        "jest": true,
        "browser": true
    },
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:react-hooks/recommended",
        "plugin:storybook/recommended"
    ],
    "rules": {
        "react/react-in-jsx-scope": "off",
        "array-element-newline": ["error", { "ArrayExpression": "consistent" }],
        "indent": ["error", 2],
        "no-trailing-spaces": ["error"],
        "semi": ["error", "never"]
    }
}
